body {
  background-color: #555555;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../res/images/bg.jpg');
  background-size: cover;
  background-position: 150px center;
}

#wrapper {
  position: relative;
  width: 550px;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

#inner {
  position: relative;
  width: calc(3*100%);
  height: 100%;
  left: -550px;

  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
}

#rpassword,
#login,
#register {
  position: relative;
  width: 33.333%;
  height: 100%;
  padding: 25px 46px;
  float: left;
}

h2.sec-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-top: 125px;
  margin-bottom: 200px;
}

.input,
.input label,
.input input,
.button,
.button button,
.button.login button {
  transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -moz-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -o-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.button button {
  width: 100%;
  outline: none;
}

.input {
  margin-top: 28px;
  height: 54px;
  border: 2px solid #998a83;
  border-radius: 25px;
}

.input,
.input input,
.button,
.button button {
  position: relative;
}

.input input {
  height: 50px;
  border: none;
  background: transparent;
  padding: 0 15px;
  padding-right: 55px;
  border-radius: 25px;
}

.input input,
.input label,
.button button {
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8);
}

.input label {
  position: absolute;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
}

.input i {
  position: absolute;
  top: 50%;
  right: 20px;
  width: auto;
  height: auto;
  font-size: 30px;
  text-align: center;
  color: #998a83;

  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.butt-container {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
}

.button {
  z-index: 1;
  width: 62px;
  height: 62px;
}

.button.login,
.button.go-log {
  float: left;
}

.button.go-reg,
.button.register {
  float: right;
}

#loginBtn,
#registerBtn {
  background-color: #77cc49;
}

#goRegisterBtn,
#goLoginBtn {
  background-color: #ff7575;
}

.button button {
  height: 100%;
  width: 62px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button button i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  font-size: 35px;
  color: #fff;

  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.button span {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 62px;
  border-radius: 31px;
  z-index: -1;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: default;

  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width  0.3s ease-in;
  transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

/* .button:hover span {
  width: 340px;
} */

#login .button.login span {
  background-color: #77cc49;
  left: 0;
}

 #login .button.go-reg span {
  background-color: #ff7575;
  right: 0;
}

#register .button.register span {
  background-color: #77cc49;
  right: 0;
}

#register .button.go-log span {
  background-color: #ff7575;
  left: 0;
}

#goPasswordLink {
  position: absolute;
  left: 50%;
  bottom: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  color: #998a83;
  padding: 0;
  cursor: pointer;

  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}


#dots-nav {
  position: absolute;
  bottom: 24px;
  left: 50%;
  background: transparent;
  height: 12px;
  width: auto;
  z-index: 25;

  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#dots-nav .dot {
  position: relative;
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 6px;
}

#dots-nav .dot:last-child {
  margin-right: 0;
}

#dots-nav .dot.active {
  position: absolute;
  top: 0;
  float: none;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;

  transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in;
}

#dots-nav .dot.password {
  left: 0;
}

#dots-nav .dot.login {
  left: 24px;
}

#dots-nav .dot.register {
  left: 48px;
}